//Importing files
@import 'reset';

//Defining Variables
$background-color:#ecf0f1;
$main-color:#3498db;
$font-title: 'Open Sans', sans-serif;
$default-button-color:#3498db;

//Adding Mixins
@mixin buttons($width, $height,$font-size){
  font-size:$font-size;
  color:#ffffff;
  border-radius:5%;
  border:none;
  outline:none;
  width:$width;
  height:$height;
  transition-property:background-color;
  transition-duration:.4s;
  display:block;
  margin-bottom:10px;
}

//Styling
body{
  padding:50px;
  font-family:$font-title;
  background-color:$background-color;
}

h1{
  font-size:32px;
  color:$main-color;
  margin-bottom:20px;
}

h2{
  font-size:24px;
  color:desaturate($main-color, 30);
  margin-bottom:15px;
}

h3{
  font-size:22px;
  color:desaturate($main-color,60);
  margin-bottom:10px;
}

.default{
  background-color:
}

.big-button{
  @include buttons(150px, 60px, 16px);
}

.medium-button{
  @include buttons(125px, 50px, 14px);
}

.small-button{
  @include buttons(100px, 40px, 12px);
}
